# Entorno
CI_ENV=development

# Base de datos - Default
DB_HOSTNAME=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=cobro_centralizado

# Base de datos - Summi App
DB_SUMMI_HOSTNAME=
DB_SUMMI_USERNAME=
DB_SUMMI_PASSWORD=
DB_SUMMI_DATABASE=summi_app

# Encryption
ENCRYPTION_KEY=tu_encryption_key_aqui

# reCAPTCHA
RECAPTCHA_SITEKEY=tu_sitekey_aqui
RECAPTCHA_SECRETKEY=tu_secretkey_aqui

# SMS API
SMS_API_USERNAME=usuario
SMS_API_PASSWORD=clave

# API REST
ROUTE_HOST_API_REST=http://localhost